<h><%= @lesson.title %></h>
<h3>Made by: <%= @lesson.author %> </h3>
<h2>Lesson Summary</h2>
<p><%= @lesson.body %> </p>
<br/>
<h2> <a href=<%= @lesson.url %> id='url_redirect'> Take me there! </a></h2>
